.container {
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.top {
  border: 1px solid transparent;
  height: 4.2rem;
  position: relative;
  width: 100%;
  background-image: url('@/assets/infoBg.jpg');
  background-size: cover;
}

.avater {
  border: 1px solid blue;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background-color: aliceblue;
  position: absolute;
  left: 0;
  right: 0;
  top: 1.8rem;
  margin: 0 auto;

  background: url("../../assets/avater.png") no-repeat;
  background-position: 100% 100%;
  background-size: contain;

  z-index: 100;
}
.cardContainer {
  overflow: hidden;
  position: relative;
  top: -1.6rem;
  box-shadow: 5px 5px 10px whitesmoke;
}
.card {
  width: 100%;
}

.edit {
  background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: fixed;
  bottom: 1.1rem;
  right: 0.4rem;
  i {
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
